<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/fonts/themify-icons/themify-icons.css">
</head>

<body>
    <div class=main>
        <div class="header">
            <img src="/assets/img/logo-main-black.png">
            <ul id="nav">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Table</a>
                </li>
                <li>
                    <a href="#">Menu</a>
                </li>
                <li>
                    <a href="#">Blog</a>
                </li>
                <li>
                    <a href="#">Shop</a>
                </li>
                <li>
                    <a href="#">Cart</a>
                </li>
                <li>
                    <a href="/component/login/login.html">Login</a>
                </li>
                <li>
                    <a href="/component/register/register.html">Sign up</a>
                </li>
            </ul>
            <div class="search-btn">
                <i class="search-icon ti-search"></i>
            </div>
        </div>
        <div class="slider"> 
        </div>
        
        <div class="footer">
            <img src="/assets/img/logo-main-black.png">
            <p>Contact us at<br>
                <a href="#">Muabuon2311@gmail.com</a><br>
                <i>- Phone: 1234567890</i>
            </p>
            <h3>about</h3>
            <h3>contacts</h3>    
            <h3>about me</h3> 
        </div>
    </div>
</body>

</html>